body{
    font-family: Monotype Corsiva,sans-serif;
    line-height: 40px;
    font-size: larger;

}
a{
    text-decoration: none;
}
body{
    background-color: rgb(4, 4, 43);
}
.navbar{
    background-color: blue;
    
}
.navbar li{
    display: inline-block;
    margin-right: 40px;
    vertical-align: middle;
    padding: 10px;
}
.navbar a{
    color: azure;
}
.navbar.a::after{
    content: "";
    display: block;
    border-bottom: 1px solid transparent;
    transform: translateX(-100%);
    transition:0.5s;
}
.navbar a::after ::after{
    border-bottom-color:white ;
    transform: translateX(0%);
}