body ul{
    padding-top: 0;
    margin-top: 0;
    font-family: Arial;
    font-size: 20px;
    line-height: 30px;
    
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
body{
    background-color: rgb(107, 157, 147);
    
}
#navbar{
    background-color: rgb(0, 255, 60);
    padding: 10px;
    margin-top: 5%;
}
#navbar ul{
   display: inline-block;
   height: 100px;
   font-size: 20px;
   padding: 20px;
}
#navbar li{
   
    float: left;
}
#navbar li a {
    color: rgb(3, 65, 11);
    padding: 48px 20px;
    display: block;

}
#navbar.nav-brand{
    float: left;

}
#navar.nav-brand.image{
    padding: 20px;
}
#navbar.nav-main{
    float: right;
    margin-right: 15%;
}
#navbar.nav-main.phone{
    font-weight: bold;
    padding: 48px 48px;
}
#navbar.nav-user{
    float: right;
}
.navbar.a::after{
    display: block;
    border-bottom: 1px solid transparent;    
}
.navbar a::after ::after{
    border-bottom-color:white ;
    transform: translateX(0%);
}